.dad{
    width: 250px;
    height: 250px;
    margin: 25px;
    background: orange;
    border: 1px solid orangered;
}

.son1{
    width: 50px;
    height: 50px;
    background: red;
    display: inline-block;
}

.son2{
    width: 50px;
    height: 50px;
    background: green;
    float: left;
}

.son3{
    width: 50px;
    height: 50px;
    background: green;
    float: right;
}

.son4{
    width: 50px;
    height: 50px;
    background: greenyellow;
    display: inline-block;
    clear: both; /*con clear, no se ven influenciado por el float.
    both, en ambos sentidos, o left / rigth dependiendo el sentido del float*/
}