div{
    font-family: 'Arial';
    border: 2px solid orangered;
    background: orange;
    margin: 10px 10px;
    text-align: center;
    font-weight: bolder;
    padding: 15px 30px;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.iluminacion:hover{
    background: white;
}