div{
    width: 50px;
    height: 100px;
    border: 1px solid black;
}

div.dimension{
    /*Minimo de anchura*/
    min-width: 300px;

    /*Anchura maxima*/
    max-width: 400px;

    /*por ejemplo, para que la pagina se vea correctamente en 
    pantallas grandes*/

    /*Margen en el sentido de las manillas del reglos 
    (desde la derecha frente al PC)*/
    margin: 20px 50px 100px 3px;
    /*Margen abajo*/
    margin-bottom: 60px;
    /*margen derecha*/
    margin-right: 20px;
    /*Margen izquierda*/
    margin-left: 20px;
    /*Margen arriba*/
    margin-top: 20px;

    padding: ;
}