/*
La estructura de las sombras aplicadas a cajas (box-shadow) o 
al texto (text-shadow) tienen 4 valores:
    - Desplazamiento horizontal
    - Desplazamiento Vertical
    - Difuminado
    - Color

Añadiendo el valor "inset" como primer valor del conjunto box-shadow
seguido de la estructura comun, establecemos la sombra de forma interna
en el elemento al que se la queremos asignar.
*/

div{
    height: 200;
    width: 200px;
    background: orange;
    border: 2px solid orangered;
    margin: 50px;
    text-align: center;
}

p{
    position: relative;
    top: 70px;
    font-size: 20px;
}

.sombradiv{
    box-shadow: 10px 10px 0px red;
    /*box-shadow: 10px -20px 5px red;*/
    /*box-shadow: inset 10px -20px 5px red; 
    inset la sombra es hacia adentro*/
}

.sombradiv2{
    box-shadow: inset 10px -20px 5px red;
}

.sombrap{
    text-shadow: 10px 10px 0px red;
}

/*Combinar varias sombras*/
.variassombrasdiv{
    box-shadow: 10px 10px 0px red,
                -10px -10px 5px greenyellow;
}